<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <i class="fa fa-align-justify " ></i>
    </a>

</nav>
<div class="collapse" id="collapseExample">
    <div class="row">
      <div class="col-sm-2">
          <div class="card card-body">
            <a routerLink="/Home">Home</a>
            <a routerLink="/Add-Student">Add Student</a>
            </div>
      </div>
    </div>

  </div>
