<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <form
        novalidate
        (ngSubmit)="addStudent(addStudentform.value)"
        [formGroup]="addStudentform"
      >
        <div class="card card-body">
          <h4>Add New Student</h4>
          <div class="row">
            <div class="input-group">
              <div class="col-sm-2">
                <label>Name</label>
              </div>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Name"
                  formControlName="name"
                  required
                />
                <div
                  *ngIf="
                    (addStudentform.get('name').hasError('minlength') ||
                      addStudentform.get('name').hasError('maxlength') ||
                      addStudentform.get('name').hasError('pattern') ||
                      addStudentform.get('name').hasError('required')) &&
                    addStudentform.get('name').touched
                  "
                >
                  <div
                    class="alert alert-danger"
                    *ngIf="
                      addStudentform.get('name').hasError('required') &&
                      addStudentform.get('name').touched
                    "
                  >
                    Please input your name
                  </div>
                  <div
                    class="alert alert-danger"
                    *ngIf="
                      addStudentform.get('name').hasError('minlength') &&
                      addStudentform.get('name').touched
                    "
                  >
                    Minimum 5 characters
                  </div>
                  <div
                    class="alert alert-danger"
                    *ngIf="
                      addStudentform.get('name').hasError('maxlength') &&
                      addStudentform.get('name').touched
                    "
                  >
                    Maximum 50 characters
                  </div>
                </div>
              </div>
            </div>

            <div class="input-group">
              <div class="col-sm-2">
                <label>Phone</label>
              </div>
              <div class="col-sm-10">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Phone"
                  formControlName="phone"
                  required
                />

                <div
                  *ngIf="
                    (addStudentform.get('phone').hasError('minlength') ||
                      addStudentform.get('phone').hasError('maxlength') ||
                      addStudentform.get('phone').hasError('pattern') ||
                      addStudentform.get('phone').hasError('required')) &&
                    addStudentform.get('phone').touched
                  "
                >
                  <div
                    class="alert alert-danger"
                    *ngIf="
                      addStudentform.get('phone').hasError('required') &&
                      addStudentform.get('phone').touched
                    "
                  >
                    Please input your phone
                  </div>

                  <div
                    class="alert alert-danger"
                    *ngIf="
                      addStudentform.get('phone').hasError('pattern') &&
                      addStudentform.get('phone').touched
                    "
                  >
                    it's not Like The pattern +201148442784
                  </div>
                </div>
              </div>
            </div>

            <div class="input-group">
              <div class="col-sm-2">
                <label>Faculty</label>
              </div>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Faculty"
                  formControlName="faculty"
                  required
                />
                <div
                  *ngIf="
                    (addStudentform.get('faculty').hasError('minlength') ||
                      addStudentform.get('faculty').hasError('maxlength') ||
                      addStudentform.get('faculty').hasError('pattern') ||
                      addStudentform.get('faculty').hasError('required')) &&
                    addStudentform.get('faculty').touched
                  "
                >
                  <div
                    class="alert alert-danger"
                    *ngIf="
                      addStudentform.get('faculty').hasError('required') &&
                      addStudentform.get('faculty').touched
                    "
                  >
                    Please input your faculty
                  </div>
                </div>
              </div>
            </div>
            <div class="input-group">
              <div class="col-sm-2">
                <label>Birth Date</label>
              </div>
              <div class="col-sm-10">
                <input
                  type="date"
                  class="form-control"
                  placeholder="Date"
                  formControlName="birth_date"
                  required
                />
                <div
                  *ngIf="
                    addStudentform.get('birth_date').hasError('required') &&
                    addStudentform.get('birth_date').touched
                  "
                >
                  <div
                    class="alert alert-danger"
                    *ngIf="
                      addStudentform.get('birth_date').hasError('required') &&
                      addStudentform.get('birth_date').touched
                    "
                  >
                    Please input your date
                  </div>
                </div>
              </div>
            </div>
            <div class="input-group">
              <div class="col-sm-2">
                <label>Address</label>
              </div>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Address"
                  formControlName="address"
                />
              </div>
            </div>

            <div class="input-group">
              <div class="col-sm-2">
                <label>image</label>
              </div>
              <div class="col-sm-10 input-image">
                <input
                  type="text"
                  class="form-control "
                  placeholder="Image"
                  [value]="imagePath"
                />
                <div>
                  <label for="file-upload" class="btn btn-light">...</label>
                </div>
                <input
                  type="file"
                  class="form-control"
                  id="file-upload"
                  placeholder="Address"
                  hidden
                  (change)="onChangeImage($event)"
                />
              </div>
            </div>
          </div>
          <div class="btn-submit">
            <button
              type="submit"
              class="btn btn-dark"
              [disabled]="addStudentform.invalid"
            >
              Save
            </button>
            <button class="btn btn-light" (click)="OnPressBack()">Back</button>
          </div>
          <div class="alert alert-success" role="alert" *ngIf="success">
              Insert Successfully!
           </div>
        </div>
      </form>
    </div>

    <div class="col-sm-2"></div>
  </div>

</div>


